body {
    width: 90vw;
    height: 90vh;
}

header {
    width: 100%;
    height: 10%;
    /* border: solid red 2px; */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    /* background-color: red; */
    width: 80%;
    height: 100%;
    display: flex;
}

.links {
    /* width: 20%;
    height: 100%; */
    /* border: solid green 1px; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button {
    height: 50%;
    width: 100px;
    background-color: #0777CD;
    color: white;
    border: none;
}


.grow {
    flex: 1.5;
}

.profileText {
    justify-content: flex-start;
}

p{
    /* font-size: 12px; */
}

#signIn {
    flex: 2;
    /* border: solid yellow 1px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}




main {
    width: 100%;
    height: 85%;
    /* border: solid blue 2px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

#content {
    width: 80%;
    height: 100%;
    /* border: dotted green 4px; */
    display: flex;
    margin-top: 2%
}

#left {
    width: 60%;
    height: 100%;
    display: flex;
    /* border: red solid 2px; */
    flex-direction: column;
}

#right {
    width: 40%;
    height: 100%;
    /* border: red solid 2px; */
    display: flex;
    /* border: red solid 2px; */
    flex-direction: column;

}

#topLeftBox {
    height: 50%;
    width: 94%;
    border: solid black 1px;
    margin: 0 0 2% 0;
}

#BottomLeftBox {
    height: 50%;
    width: 94%;
    border: solid black 1px;
}

#topRightBox {
    height: 35%;
    width: 100%;
    border: solid black 1px;
}

#bottomRightBox {
    height: 65%;
    width: 100%;
    border: solid black 1px;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

#topLeftBanner {
    height: 20%;
    width: 100%;
    background-color: #0777CD;
}

#topLeftCard {
    height: 80%;
    width: 100%;
    /* border: red solid 2px; */
}

#bottomLeftBanner {
    height: 15%;
    width: 100%;
    /* border: red solid 2px; */
    background-color: #A9A9A9;
}

#bottomLeftCard {
    height: 85%;
    width: 100%;
    /* border: red solid 2px; */
}

#topRightBanner {
    height: 25%;
    width: 100%;
    background-color: #A9A9A9;
    display: flex;
}

#topRightCard {
    height: 75%;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

#counter {
    width: 25%;
    /* background-color: #A9A9A9 ; */
    height: 100%;
    /* border: dotted 1px red; */

}

#requests {
    width: 75%;
    /* background-color: #A9A9A9; */
    height: 100%;
    /* border: dotted 1px red; */
}


.requestBody {
    width: 100%;
    height: 100%;
    /* border: green 1px solid; */
    display: flex;
}

#profile {
    width: 20%;
    height: 100%;
    border: solid black 1px;
}

#name {
    width: 50%;
    height: 100%;
    border: solid black 1px;
}

.action {
    width: 15%;
    height: 100%;
    border: solid black 1px;

}

#bottomRightBanner {
    width: 100%;
    height: 10%;
    background-color: #A9A9A9;
}

.contactCard {
    width: 100%;
    height: 20%;
    /* border: 1px solid black; */
    display: flex;
    margin-top: 2%;
}

#bottomRightFooter {
    width: 100%;
    height: 10%;
    background-color: yellow;
}

#conProfile {
    width: 25%;
    height: 100%;
    background-color: red;
}

#conName {
    width: 75%;
    height: 100%;
    background-color: blue;
}



/* .flex {
    display: flex;
}
.flex-center {
    justify-content: center;
    align-items: center;
} */